@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body,html {
  background-color: #cec8be;
  margin: 0;
	padding: 0;
	border: 0;
  font-family: 'Anton', sans-serif;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Marvel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
